.list {
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    margin: 0 auto;
    width: 400px;

}

.list__item {
    display: flex;
    justify-content: space-between;
    padding: 2px 5px;
    border: 1px solid black;
    width: 400px;
}

.button {
    text-transform: capitalize;
    background-color: rgb(205, 210, 211);
    color: rgb(9, 9, 9);
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 7px;
    transition: color 250ms cubic-bezier(0.19, 1, 0.22, 1),
        background-color 250ms cubic-bezier(0.19, 1, 0.22, 1);
    margin-bottom: 10px;
    margin: 10px 10px 10px 10px;

}

.Container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}